.content-app-tw{
  position: fixed;
  z-index: 9999;
  top: 1.5rem;
  left: 1.5rem;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  --tw-bg-opacity: 1;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: white;
}
.container-wrapper-config{
  padding: 10px;
   color: #ffff;
   span{
      background-color: #29303e;
      border-radius: 0.5rem;
      padding: 10px;
      width: 100%;
      font-size: 14px;
      display: flex;
   }
}
.content-app-wrapper{
  --tw-bg-opacity: 0.94;
  min-height: 500px;
  width: 310px;
  max-height: calc(100vh - 3rem);
  background: rgba(22, 22, 22, 0.8);
  border-radius: 5px;
  border: 1px solid hsl(0 0% 100% / 0.077);
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(100px) saturate(400%) brightness(80%);
  h1{
     margin: 0
  }
}
.footer-gap-main{
  border: 1px solid hsl(0 0% 100% / 0.077);
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.12);
  //backdrop-filter: blur(100px) saturate(400%) brightness(80%);
  z-index: 999;
  position: relative;
  background: #1a1a1a;
}
.data-content-tab{
  display: none;
  &.active{
    display: block;
  }
}
.value-css{
  color:#7e22ce
}


[active-element] {
  outline: 1px solid #4299e1 !important;
}

.hover-element-over {
  outline: 1px solid #4299e1 !important;
}


.click-element-over{
 outline: 2px solid #0620ff !important;
}


.btn-tw-class{
  transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
  :hover{   --tw-bg-opacity: 1;
     background-color: rgb(31 41 55 / var(--tw-bg-opacity));}
  &.tab-tw-inspect-btn.active-tab-selector{
     --tw-bg-opacity: 1;
     background-color: rgb(59 130 246 / var(--tw-bg-opacity));

  }
  &.tab-tw-inspect-btn2.active-tab-selector2{
    --tw-bg-opacity: 1;
    background-color: rgb(59 130 246 / var(--tw-bg-opacity));

 }
}
.class-linear-tw{
  padding:4px;
}

.live-editor-tw{
  min-height: 300px;
   max-height: 100px;
   height: 100%;
   &::-webkit-scrollbar {
     width: 10px;
   }
   
   /* Track */
   &::-webkit-scrollbar-track {
     background: transparent; 
   }
    
   /* Handle */
   &::-webkit-scrollbar-thumb {
  
     --tw-bg-opacity: 0.15;
     background-color: rgb(243 244 246 / var(--tw-bg-opacity));
     border-radius: 9999px;
   }
   
   /* Handle on hover */
   &::-webkit-scrollbar-thumb:hover {
     --tw-bg-opacity: 0.15;
     background-color: rgb(243 244 246 / var(--tw-bg-opacity));
     border-radius: 9999px;
   }
}
.scroll-main{
  &::-webkit-scrollbar {
     width: 10px;
   }
   
   /* Track */
   &::-webkit-scrollbar-track {
     background: transparent; 
   }
    
   /* Handle */
   &::-webkit-scrollbar-thumb {
  
     --tw-bg-opacity: 0.15;
     background-color: rgb(243 244 246 / var(--tw-bg-opacity));
     border-radius: 9999px;
   }
   
   /* Handle on hover */
   &::-webkit-scrollbar-thumb:hover {
     --tw-bg-opacity: 0.15;
     background-color: rgb(243 244 246 / var(--tw-bg-opacity));
     border-radius: 9999px;
   } 
}
.autocom-box{
  &::-webkit-scrollbar {
     width: 10px;
   }
   
   /* Track */
   &::-webkit-scrollbar-track {
     background: transparent; 
   }
    
   /* Handle */
   &::-webkit-scrollbar-thumb {
  
     --tw-bg-opacity: 0.15;
     background-color: rgb(243 244 246 / var(--tw-bg-opacity));
     border-radius: 9999px;
   }
   
   /* Handle on hover */
   &::-webkit-scrollbar-thumb:hover {
     --tw-bg-opacity: 0.15;
     background-color: rgb(243 244 246 / var(--tw-bg-opacity));
     border-radius: 9999px;
   } 
}


.tab-tw-inspect-content{
  display: none;
  &.open{
     display: block;
  }
}

.tab-tw-inspect-content2{
  display: none;
  &.open2{
     display: block;
  }
}

.select-item.active{
 background: #6484dd42;
}
.select-item{
 display:flex;
 align-items: center;
}

#mydivheader {

 
  z-index: 10;

}

.search-input{

  width: 100%;
  border-radius: 5px;
  position: relative;

}
.selected-class{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  grid-gap: 8px;
}

.search-input input{
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 13px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
  background: #262626;
  border: 1px solid #303030;
}

.search-input.active input{
  border-radius: 5px 5px 0 0;
}

.search-input .autocom-box{
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}

.search-input.active .autocom-box{
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
  background: #d1d1d112;
}

.autocom-box li{
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}

.search-input.active .autocom-box li{
  display: flex;
}
.autocom-box li:hover{
  background: #6484dd42;
}
.autocom-box li{
  font-size: 13px;
  cursor: pointer;
}
.search-input.active .autocom-box{

}
.search-input .icon{
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: #644bff;
  cursor: pointer;
}
.delete-class{
  transition: all .1s cubic-bezier(0.075, 0.82, 0.165, 1);
  right: -100px !important;
  background: #413f3f;
  border-radius: 50%;
  padding: 4px;
}
.selected-item{
  overflow: hidden;
 font-size: 12px;
 padding: 6px 25px;
 border: 1px solid rgba(255,255,255,.04);
 border-radius: 12px 12px 12px 4px;
 backdrop-filter: blur(24px);
 border-radius: 9999px;
 transition: all .1s ease-in-out;
 background: #2a2a2ad1;
 cursor: pointer;
 &:hover{
  box-shadow: inset 0 1px 1px #ffffff1f, inset 0 0 0 1px #ffffff1a;
  .delete-class{
    right: 0.325rem !important;
  }
 }
}


.content-app-tw.block-drag{
 top: 20px !important;
 left: 25px !important;
}


/* CHECKBOX TOGGLE SWITCH */
/* @apply rules for documentation, these do not work as inline style */
.toggle-checkbox:checked {
  @apply right-0 border-green-400;
  right: 0;
  border-color: #68D391;
}
.toggle-checkbox:checked + .toggle-label {
  @apply bg-green-400;
  background-color: #68D391;
}


.fixed-click-element-over{
  outline: 2px solid #22c55e !important;
}

.container-wrapper-config{
  display:none
}

.btn-tw-class{
  font-size: 13px;
  text-transform: uppercase;
}

.app-buttons{
  &.active{
    @apply bg-gray-100 bg-opacity-10
  }
}

.container-wrapper-config-colors{
  padding: 12px 0;
  background: #ffffff0a;
  color:#bfbfbf; 
  border-radius: 5px; 

}
.content-color-app:hover .container-wrapper-config-colors-opacity{
  opacity: 0.3;
}
.container-wrapper-config-colors-opacity{
  cursor: pointer;
  transition: all .1s ease-in-out;
  border: 1px solid ;
  border-color: transparent;
  .container-wrapper-config-colors{
    transition: all .1s ease-in-out;
    border: 1px solid ;
    border-color: transparent;
  }
}
.container-wrapper-config-colors-opacity:hover{
  opacity: 1 !important;
 
  .container-wrapper-config-colors{
    border-color: #323232;
  }
}
.show-element-hover{
  display:flex;
}
.element-cover-color{
  margin-left: 4px;
  font-size: 13px;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.snackbar{
  position: absolute;
  bottom: 0px;
  z-index: 99;
  background: #1a1a1a;
  padding: 10px;
 
  left:50%;
  transform: translateX(-50%);
  text-emphasis: none;
  border-radius: 21px;
  font-size: 12px;

  transition: all .4s cubic-bezier(0.22, 1, 0.36, 1);
  border: 1px solid rgba(255, 255, 255, 0.077);
  box-shadow: 3px -4px 20px 8px #113c144d;
  -webkit-backdrop-filter: blur(100px) saturate(400%) brightness(80%);
  backdrop-filter: blur(100px) saturate(400%) brightness(80%);
  color: #adadad;
  opacity: 1;
   


}