.content-app-tw{
  position: fixed;
  z-index: 9999;
  top: 1.5rem;
  left: 1.5rem;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  --tw-bg-opacity: 1;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: white;
}
.container-wrapper-config{
  padding: 10px;
   color: #ffff;
   span{
      background-color: #29303e;
      border-radius: 0.5rem;
      padding: 10px;
      width: 100%;
      font-size: 14px;
      display: flex;
   }
}
.content-app-wrapper{
  --tw-bg-opacity: 0.94;
  min-height: 500px;
  width: 310px;
  max-height: calc(100vh - 3rem);
  background: rgba(22, 22, 22, 0.8);
  border-radius: 5px;
  border: 1px solid hsl(0 0% 100% / 0.077);
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(100px) saturate(400%) brightness(80%);
  h1{
     margin: 0
  }
}
.footer-gap-main{
  border: 1px solid hsl(0 0% 100% / 0.077);
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.12);
  //backdrop-filter: blur(100px) saturate(400%) brightness(80%);
  z-index: 999;
  position: relative;
  background: #1a1a1a;
}
.data-content-tab{
  display: none;
  &.active{
    display: block;
  }
}
.value-css{
  color:#7e22ce
}


[active-element] {
  outline: 1px solid #4299e1 !important;
}

.hover-element-over {
  outline: 1px solid #4299e1 !important;
}


.click-element-over{
 outline: 2px solid #0620ff !important;
}


.btn-tw-class{
  transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
  
  
}
.class-linear-tw{
  padding:4px;
}

.live-editor-tw{
  min-height: 300px;
   max-height: 100px;
   height: 100%;
   &::-webkit-scrollbar {
     width: 10px;
   }
   
   /* Track */
   &::-webkit-scrollbar-track {
     background: transparent; 
   }
    
   /* Handle */
   &::-webkit-scrollbar-thumb {
  
     --tw-bg-opacity: 0.15;
     background-color: rgb(243 244 246 / var(--tw-bg-opacity));
     border-radius: 9999px;
   }
   
   /* Handle on hover */
   &::-webkit-scrollbar-thumb:hover {
     --tw-bg-opacity: 0.15;
     background-color: rgb(243 244 246 / var(--tw-bg-opacity));
     border-radius: 9999px;
   }
}
.scroll-main{
  &::-webkit-scrollbar {
     width: 10px;
   }
   
   /* Track */
   &::-webkit-scrollbar-track {
     background: transparent; 
   }
    
   /* Handle */
   &::-webkit-scrollbar-thumb {
  
     --tw-bg-opacity: 0.15;
     background-color: rgb(243 244 246 / var(--tw-bg-opacity));
     border-radius: 9999px;
   }
   
   /* Handle on hover */
   &::-webkit-scrollbar-thumb:hover {
     --tw-bg-opacity: 0.15;
     background-color: rgb(243 244 246 / var(--tw-bg-opacity));
     border-radius: 9999px;
   } 
}
.autocom-box{
  &::-webkit-scrollbar {
     width: 10px;
   }
   
   /* Track */
   &::-webkit-scrollbar-track {
     background: transparent; 
   }
    
   /* Handle */
   &::-webkit-scrollbar-thumb {
  
     --tw-bg-opacity: 0.15;
     background-color: rgb(243 244 246 / var(--tw-bg-opacity));
     border-radius: 9999px;
   }
   
   /* Handle on hover */
   &::-webkit-scrollbar-thumb:hover {
     --tw-bg-opacity: 0.15;
     background-color: rgb(243 244 246 / var(--tw-bg-opacity));
     border-radius: 9999px;
   } 
}


.tab-tw-inspect-content{
  display: none;
  &.open{
     display: block;
  }
}

.tab-tw-inspect-content2{
  display: none;
  &.open2{
     display: block;
  }
}

.select-item.active{
 background: #6484dd42;
}
.select-item{
 display:flex;
 align-items: center;
}

#mydivheader {

 
  z-index: 10;

}

.search-input{

  width: 100%;
  border-radius: 5px;
  position: relative;

}
.selected-class{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  grid-gap: 8px;
}

.search-input input{
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 13px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
  background: #262626;
  border: 1px solid #303030;
}

.search-input.active input{
  border-radius: 5px 5px 0 0;
}

.search-input .autocom-box{
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}

.search-input.active .autocom-box{
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
  background: #d1d1d112;
}

.autocom-box li{
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}

.search-input.active .autocom-box li{
  display: flex;
}
.autocom-box li:hover{
  background: #6484dd42;
}
.autocom-box li{
  font-size: 13px;
  cursor: pointer;
}
.search-input.active .autocom-box{

}
.search-input .icon{
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: #644bff;
  cursor: pointer;
}
.delete-class{
  transition: all .1s cubic-bezier(0.075, 0.82, 0.165, 1);
  right: -100px !important;
  background: #413f3f;
  border-radius: 50%;
  padding: 4px;
}
.selected-item{
  overflow: hidden;
 font-size: 12px;
 padding: 6px 25px;
 border: 1px solid rgba(255,255,255,.04);
 border-radius: 12px 12px 12px 4px;
 backdrop-filter: blur(24px);
 border-radius: 9999px;
 transition: all .1s ease-in-out;
 background: #2a2a2ad1;
 cursor: pointer;
 &:hover{
  box-shadow: inset 0 1px 1px #ffffff1f, inset 0 0 0 1px #ffffff1a;
  .delete-class{
    right: 0.325rem !important;
  }
 }
}


.content-app-tw.block-drag{
 top: 20px !important;
 left: 25px !important;
}


/* CHECKBOX TOGGLE SWITCH */
/* @apply rules for documentation, these do not work as inline style */
.toggle-checkbox:checked {
  @apply right-0 border-green-400;
  right: 0;
  border-color: #68D391;
}
.toggle-checkbox:checked + .toggle-label {
  @apply bg-green-400;
  background-color: #68D391;
}


.fixed-click-element-over{
  outline: 2px solid #22c55e !important;
}

.container-wrapper-config{
  display:none
}

.btn-tw-class{
  font-size: 13px;
  text-transform: uppercase;
}

.app-buttons{
  &.active{
    @apply bg-gray-100 bg-opacity-10
  }
}

.container-wrapper-config-colors{
  padding: 12px 0;
  background: #ffffff0a;
  color:#bfbfbf; 
  border-radius: 5px; 

}
.content-color-app:hover .container-wrapper-config-colors-opacity{
  opacity: 0.3;
}
.container-wrapper-config-colors-opacity{
  cursor: pointer;
  transition: all .1s ease-in-out;
  border: 1px solid ;
  border-color: transparent;
  .container-wrapper-config-colors{
    transition: all .1s ease-in-out;
    border: 1px solid ;
    border-color: transparent;
  }
}
.container-wrapper-config-colors-opacity:hover{
  opacity: 1 !important;
 
  .container-wrapper-config-colors{
    border-color: #323232;
  }
}
.show-element-hover{
  display:flex;
}
.element-cover-color{
  margin-left: 4px;
  font-size: 13px;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.snackbar{
  position: absolute;
  bottom: 0px;
  z-index: 99;
  background: #1a1a1a;
  padding: 10px;
 
  left:50%;
  transform: translateX(-50%);
  text-emphasis: none;
  border-radius: 21px;
  font-size: 12px;

  transition: all .4s cubic-bezier(0.22, 1, 0.36, 1);
  border: 1px solid rgba(255, 255, 255, 0.077);
  box-shadow: 3px -4px 20px 8px #113c144d;
  -webkit-backdrop-filter: blur(100px) saturate(400%) brightness(80%);
  backdrop-filter: blur(100px) saturate(400%) brightness(80%);
  color: #adadad;
  opacity: 1;
   


}

.variant-pciker{
 .check-radio{
  transition: all .1s ease-in-out;
  opacity: 0;
 }
  input[type="radio"] {
    display: none;
    &:checked + span {
     border-color: #2563eb;
     .check-radio  {
        @apply  scale-100 top-2/4 left-[7px] -translate-y-2/4;
        opacity: 1;
      } 
    } 
   
  }
  label {
    display: inline-block;
    width: 100px;
    position: relative;
    border-radius: 9px;
    margin-right: 10px;
    cursor: pointer;
    
    span {
      display: block;
      border: 1px solid transparent;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      transition: transform 0.2s ease-in-out;
      padding: 6px 10px;
      border-radius: 14px;
      font-size: 12px;
      background: #ffffff0a;
      font-weight: 500;
      text-align: center;
    }
  }
} 

.generate-button {
  --generate-button-star-1-opacity: .25;
  --generate-button-star-1-scale: 1;
  --generate-button-star-2-opacity: 1;
  --generate-button-star-2-scale: 1;
  --generate-button-star-3-opacity: .5;
  --generate-button-star-3-scale: 1;

  --generate-button-dots-opacity: 0;
  --cut: 0.1em;
	--active: 0;
	--bg:
		radial-gradient(
			40% 50% at center 100%,
			hsl(270 calc(var(--active) * 97%) 72% / var(--active)),
			transparent
		),
		radial-gradient(
			80% 100% at center 120%,
			hsl(260 calc(var(--active) * 97%) 70% / var(--active)),
			transparent
		),
		hsl(260 calc(var(--active) * 97%) calc((var(--active) * 44%) + 12%));
  display: flex;
  justify-content: center;
  appearance: none;
  outline: none;
  border: none;
  padding: 16px 24px 16px 20px;
  border-radius: 29px;
  margin: 0;

  font-size: 14px;
  color: #616161;
  min-width: 192px;
  display: flex;
  position: relative;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  z-index: 1;
  transform: scale(var(--generate-button-scale, 1)) translateZ(0);
//  box-shadow: 0px 0px 120px var(--generate-button-shadow-wide, transparent), 0px 4px 12px rgba(0, 0, 0, 0.05), 0px 1px 2px rgba(0, 0, 0, 0.1), inset 0px 1px 1px var(--generate-button-shadow-inset, rgba(255, 255, 255, 0.04)), 0 0 0 var(--generate-button-shadow-outline, 0px) rgba(109, 68, 244, 0.4);
  box-shadow: 0 0 calc(var(--active) * 6em) calc(var(--active) * 3em) hsl(260 97% 61% / 0.75),
  0 0.05em 0 0 hsl(260 calc(var(--active) * 97%) calc((var(--active) * 50%) + 30%)) inset,
  0 -0.05em 0 0 hsl(260 calc(var(--active) * 97%) calc(var(--active) * 60%)) inset;
  transition: box-shadow var(--transition), scale var(--transition), background var(--transition);
  transition: transform .3s, background-color .3s, box-shadow .3s, color .3s;

  &:before {
    content: '';
    display: block;
    position: absolute;
    right: 20%;
    height: 20px;
    left: 20%;
    bottom: -10px;
    background: #D3B3FF;
    filter: blur(12.5px);
    z-index: 2;
    clip-path: inset(-200% -30% 10px -30% round 29px);
    opacity: 0;
    transition: opacity .4s;
    transform: translateZ(0);
  }

  span {
    position: relative;
    z-index: 1;
    font-family: 'Poppins', Arial;
    font-weight: 600;
    font-size: 13px;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.005em;
    display: block;

    &:before {
      content: '';
      //background-image: linear-gradient(to right, transparent, #1D1D1D);
      position: absolute;
      inset: 0;
      z-index: 1;
      pointer-events: none;
      opacity: .4;
      transition: opacity .4s;
    }
  }

  .stroke {
    mix-blend-mode: hard-light;

    svg {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      fill: none;
      stroke-width: .75px;
      stroke: #E2D9FF;
      stroke-dasharray: 1.5 14;
      stroke-dashoffset: 22;
      opacity: 0;

      &:nth-child(2) {
        stroke-width: 1px;
        stroke-opacity: .5;
        filter: blur(3px);
      }
    }
  }

  svg {
    display: block;
    overflow: visible;
    pointer-events: none;

    &.dots {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
      fill: #D3B2FF;
      opacity: var(--generate-button-dots-opacity);
    }

    &.icon-bu {
      width: 24px;
      height: 26px;
      margin-right: 12px;
      fill: currentColor;

      path {
        &:nth-child(1) {
          opacity: var(--generate-button-star-1-opacity);
          transform: scale(var(--generate-button-star-1-scale)) translateZ(0);
          transform-origin: 25% 14.58%;
        }

        &:nth-child(2) {
          opacity: var(--generate-button-star-2-opacity);
          transform: scale(var(--generate-button-star-2-scale)) translateZ(0);
          transform-origin: 60.42% 50%;
        }

        &:nth-child(3) {
          opacity: var(--generate-button-star-3-opacity);
          transform: scale(var(--generate-button-star-3-scale)) translateZ(0);
          transform-origin: 25% 85.42%;
        }
      }
    }
  }

  &:hover {
    --generate-button-scale: 1.1;
    --generate-button-shadow-wide: rgba(208, 173, 255, 0.4);
    --generate-button-shadow-inset: rgba(255, 255, 255, 0.35);
    --generate-button-shadow-outline: 3px;
    --active: 1;
    color: #fff;
    background-color: #6D44F4;

    .stroke {
      svg {
        animation: stroke 2s linear infinite;
      }
    }

    &:before {
      opacity: 1;
    }

    span {
      &:before {
        opacity: 0;
      }
    }

    &:active {
      --generate-button-scale: 1.05;
    }
  }
}

@keyframes stroke {
  0% {
    opacity: 0;
  }

  25%,
  75% {
    opacity: 1;
  }

  95%,
  100% {
    stroke-dashoffset: 6;
    opacity: 0;
  }
}

.decorate-btn{
  --generate-button-star-1-opacity: .25;
  --generate-button-star-1-scale: 1;
  --generate-button-star-2-opacity: 1;
  --generate-button-star-2-scale: 1;
  --generate-button-star-3-opacity: .5;
  --generate-button-star-3-scale: 1;
  --generate-button-dots-opacity: 0;
  --cut: 0.1em;
  --active: 0;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s, color 0.3s;
  box-shadow: 
  0 0.05em 0 0 hsl(260, calc(var(--active) * 97%), 
  calc(var(--active) * 50% + 30%)) inset, 
  0 -0.05em 0 0 hsl(260, calc(var(--active) * 97%), 
  calc(var(--active) * 60%)) inset;
  &::before{
    content: "";
    display: block;
    position: absolute;
    right: 20%;
    height: 20px;
    left: 20%;
    bottom: -10px;
    background: #D3B3FF;
    filter: blur(12.5px);
    z-index: 2;
    -webkit-clip-path: inset(-200% -30% 10px -30% round 29px);
    clip-path: inset(-200% -30% 10px -30% round 29px);
    opacity: 0;
    transition: opacity 0.4s;
    transform: translateZ(0);
  }
  &:hover{
    --generate-button-scale: 1.1;
    --generate-button-shadow-wide: rgba(208, 173, 255, 0.4);
    --generate-button-shadow-inset: rgba(255, 255, 255, 0.35);
    --generate-button-shadow-outline: 3px;
    --active: 1;
    color: #fff;
    background-color: #6d44f423;
  }
  &.active-tab-selector{
    --generate-button-scale: 1.1;
    --generate-button-shadow-wide: rgba(208, 173, 255, 0.4);
    --generate-button-shadow-inset: rgba(255, 255, 255, 0.35);
    --generate-button-shadow-outline: 3px;
    --active: 1;
    color: #fff;
    background-color: #6d44f44d;
  }
}

.generate-text{
  -webkit-tap-highlight-color: transparent;
  position: relative;
  z-index: 1;
  font-family: "Poppins", Arial;
  font-weight: 600;
  font-size: 13px;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 0.005em;
  display: block;
  color: #616161;
  &.active-tab-selector{
    color:#fff;
  }
  &:hover{

  }
}