{% extends 'baseFrontend.html.twig' %}

{% block content %}
    <div class="px-40 mt-5 rounded">
       <div class="px-10 py-5 bg-white rounded-lg">
            <div class="text-4xl font-black tracking-tighter text-[#5d5d5d]">
                Button
            </div>

            <p class="mt-2 text-sm">
                Buttons allow users to perform actions and choose with a single tap.
            </p>
            <div class="pt-6">
                <div class="text-xl">
                    Defaults
                </div>
                <div class="pt-1 text-sm text-gray-400">
                    Boton de Defaults 
                </div>
                <div class="pt-5">
                    <button class="py-3 text-xs font-medium text-white uppercase transition-colors bg-blue-500 px-14 rounded-2xl hover:bg-blue-700">Button</button>
                </div>
                <div class="code-preview">
                    <code class="language-html">
                        <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>button</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>py-3 text-xs font-medium text-white uppercase transition-colors bg-blue-500 px-14 rounded-2xl hover:bg-blue-700<span class="token punctuation">"</span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&gt;</span>Button<span class="token tag"><span class="token punctuation">&lt;/</span>button<span class="token tag"><span class="token punctuation">&gt;</span></span></span></span>
                    </code>
                </div>
            </div>
       </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
      
    </script>
{% endblock %}