{% extends 'baseFrontend.html.twig' %}

{% block content %}
    <div class="px-40 mt-5 rounded">
       <div class="px-10 py-5 bg-white rounded">
            <div class="text-4xl font-black tracking-tighter text-[#5d5d5d]">
                Button
            </div>

            <p class="mt-2 text-sm">
                Buttons allow users to perform actions and choose with a single tap.
            </p>
            <div class="pt-6">
                <div class="">
                    Defaults
                </div>
                <div class="pt-5">
                    <button class="py-3 text-xs font-medium text-white uppercase transition-colors bg-blue-500 px-14 rounded-2xl hover:bg-blue-700">Button</button>
                </div>
            </div>
       </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
      
    </script>
{% endblock %}