 <div class="fixed w-screen h-screen">
    {#<img class="object-cover w-full h-full"  src="https://toka.b-cdn.net/wp-content/uploads/2022/05/krvjbrv.png">#}
    <img class="object-cover w-full h-full"  src=" https://toka.b-cdn.net/wp-content/uploads/2022/04/gtjnvkg.png">

</div>
<div class="">
    nav
</div>
        
<div class="container relative z-10 flex px-10 mx-auto">
    <div class="w-[32%] text-white">
        <h1 class="mb-5 text-base font-semibold">Documentación</h1>

        <ul>
            <li class="text-sm font-medium text-white/90">Layouts</li>
            <ul class="pt-4 pl-4">
                <li class="pb-3 text-white/50">- Container</i>
                <li class="text-white/50">- Grid</i>
            </ul>
            <li class="pt-4 text-sm font-medium text-white/90">Components</li>
        </ul>
    </div>
    <div class="w-full">
        {% block content %}

        {% endblock %}
    </div>
    <div class="w-[28%]">
        asd
    </div>
</div>