


<div class="w-[25%]">
    <div class="z-10 flex mx-auto ">
        <div class="text-white ">
            <h1 class="mb-5 text-base font-semibold">Documentación</h1>

            <ul>
                <li class="text-sm font-medium text-white/90">Layouts</li>
                <ul class="pt-4 pl-4">
                    <li class="pb-3 text-white/50">- Container</i>
                    <li class="text-white/50">- Grid</i>
                </ul>
                <li class="pt-4 text-sm font-medium text-white/90">Components</li>
            </ul>
        </div>
    
    </div>
</div>