{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
  
{% endblock %}
{% block body %}
   
        <div class="fixed w-screen h-screen">
            {#<img class="object-cover w-full h-full"  src="https://toka.b-cdn.net/wp-content/uploads/2022/05/krvjbrv.png">#}
            <img class="object-cover w-full h-full"  src=" https://toka.b-cdn.net/wp-content/uploads/2022/04/gtjnvkg.png">
        
        </div>
         <div class="fixed w-screen h-screen">
    {#<img class="object-cover w-full h-full"  src="https://toka.b-cdn.net/wp-content/uploads/2022/05/krvjbrv.png">#}
    <img class="object-cover w-full h-full"  src=" https://toka.b-cdn.net/wp-content/uploads/2022/04/gtjnvkg.png">

</div>
<div class="container relative z-10 flex px-10 mx-auto nav-header">
    <div class="flex items-center">
        <div class="">
           <svg class="w-full h-full fill-current text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 84 96">
                <g transform="translate(-8 -2) translate(11 5)">
                    <path
                        fill="currentColor"
                        d="M45.692 45.15c2.9.95 5 3.8 5 7.05 0 5.75-4 8.8-10.4 8.8h-11.75V30.3h10.75c6.4 0 10.4 2.85 10.4 8.35 0 3.3-1.75 5.7-4 6.5zm-12.1-1.95h5.65c3.55 0 5.45-1.35 5.45-4.25s-1.9-4.15-5.45-4.15h-5.65v8.4zm0 4.3v9h6.6c3.5 0 5.4-1.75 5.4-4.5 0-2.8-1.9-4.5-5.4-4.5h-6.6z"
                    ></path>
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M39 0L0 22 0 67 39 90 78 68 78 23z"></path>
                </g>
            </svg>

        </div>
        <div class="ml-auto">
            <h1 class="mb-5 text-base font-semibold">Documentación</h1>
        </div>
    </div>
</div>
        
<div class="container relative z-10 flex px-10 mx-auto">
    <div class="w-[32%] text-white">
        <h1 class="mb-5 text-base font-semibold">Documentación</h1>

        <ul>
            <li class="text-sm font-medium text-white/90">Layouts</li>
            <ul class="pt-4 pl-4">
                <li class="pb-3 text-white/50">- Container</i>
                <li class="text-white/50">- Grid</i>
            </ul>
            <li class="pt-4 text-sm font-medium text-white/90">Components</li>
        </ul>
    </div>
    <div class="w-full">
        {% block content %}

        {% endblock %}
    </div>
    <div class="w-[28%]">
        asd
    </div>
</div>
  
        
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
{% endblock %}

