{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
  
{% endblock %}
{% block body %}
   
        <div class="fixed w-screen h-screen">
            {#<img class="object-cover w-full h-full"  src="https://toka.b-cdn.net/wp-content/uploads/2022/05/krvjbrv.png">#}
            <img class="object-cover w-full h-full"  src=" https://toka.b-cdn.net/wp-content/uploads/2022/04/gtjnvkg.png">
        
        </div>
        <div class="container relative z-10 flex px-10 mx-auto">
            asd
        </div>
  
        
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
{% endblock %}

