{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
  
{% endblock %}
{% block body %}
    <div class="fixed w-screen h-screen -z-10">
        {#<img class="object-cover w-full h-full"  src="https://toka.b-cdn.net/wp-content/uploads/2022/05/krvjbrv.png">#}
        <img class="object-cover w-full h-full"  src=" https://toka.b-cdn.net/wp-content/uploads/2022/04/gtjnvkg.png">

    </div>
<div class="container relative z-10 flex px-10 mx-auto nav-header">
    <div class="flex items-center">
        <div class="">
           <svg class="w-full h-full text-green-500 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 84 96">
                <g transform="translate(-8 -2) translate(11 5)">
                    <path
                        fill="currentColor"
                        d="M45.692 45.15c2.9.95 5 3.8 5 7.05 0 5.75-4 8.8-10.4 8.8h-11.75V30.3h10.75c6.4 0 10.4 2.85 10.4 8.35 0 3.3-1.75 5.7-4 6.5zm-12.1-1.95h5.65c3.55 0 5.45-1.35 5.45-4.25s-1.9-4.15-5.45-4.15h-5.65v8.4zm0 4.3v9h6.6c3.5 0 5.4-1.75 5.4-4.5 0-2.8-1.9-4.5-5.4-4.5h-6.6z"
                    ></path>
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M39 0L0 22 0 67 39 90 78 68 78 23z"></path>
                </g>
            </svg>

        </div>
        <div class="ml-auto">
            <h1 class="mb-5 text-base font-semibold">Documentación</h1>
        </div>
    </div>
</div>
        
<div class="container relative z-10 flex px-10 mx-auto">
    <div class="w-[32%] text-white">
        <h1 class="mb-5 text-base font-semibold">Documentación</h1>

        <ul>
            <li class="text-sm font-medium text-white/90">Layouts</li>
            <ul class="pt-4 pl-4">
                <li class="pb-3 text-white/50">- Container</i>
                <li class="text-white/50">- Grid</i>
            </ul>
            <li class="pt-4 text-sm font-medium text-white/90">Components</li>
        </ul>
    </div>
    <div class="fixed top-0 w-full">
        <div class="py-3">
            <div class="">
                <svg class="nextui-c-gXbdHx nextui-c-gXbdHx-gjRtCi-auto-true navbar__logo" height="24.48" viewBox="0 0 100 24.48" width="100"><path d="M18.745 0v24.069h-2.139L2.386 3.914h-.188v20.155H0V0h2.127l14.267 20.179h.188V0zm13.256 24.445a7.934 7.934 0 01-4.371-1.181 7.79 7.79 0 01-2.85-3.279 11.069 11.069 0 01-1-4.836 11.2 11.2 0 011-4.848 8.1 8.1 0 012.785-3.326 7.175 7.175 0 014.119-1.2 7.689 7.689 0 012.832.535 7.042 7.042 0 012.45 1.634 7.836 7.836 0 011.722 2.756 11.015 11.015 0 01.635 3.931v1.034h-12.1V13.82h9.963a6.882 6.882 0 00-.7-3.132 5.55 5.55 0 00-1.939-2.2 5.11 5.11 0 00-2.862-.811 5.121 5.121 0 00-3.02.917 6.251 6.251 0 00-2.039 2.421 7.513 7.513 0 00-.746 3.291v1.1a8.822 8.822 0 00.746 3.755 5.751 5.751 0 002.124 2.487 5.9 5.9 0 003.255.881 5.873 5.873 0 002.251-.4 4.843 4.843 0 001.634-1.075 4.729 4.729 0 001-1.487l1.986.646a5.885 5.885 0 01-1.346 2.1 6.889 6.889 0 01-2.327 1.545 8.251 8.251 0 01-3.202.587zm12.74-18.428l4.654 7.7 4.654-7.7h2.433l-5.806 9.026 5.806 9.026H54.05l-4.654-7.451-4.655 7.451H42.32l5.735-9.026-5.735-9.026zm23.246 0v1.822h-8.615V6.017zm-5.923-4.325h2.1v17.664a3.414 3.414 0 00.388 1.769 2.159 2.159 0 001.011.9 3.363 3.363 0 001.328.264 4.045 4.045 0 00.705-.053q.294-.053.517-.112l.447 1.892a5.433 5.433 0 01-.752.217 5.162 5.162 0 01-1.1.1 5.1 5.1 0 01-2.215-.505 4.337 4.337 0 01-1.743-1.499 4.3 4.3 0 01-.682-2.48zM89.211 0h2.2v15.936a8.411 8.411 0 01-1.152 4.389 8.18 8.18 0 01-3.2 3.044 9.854 9.854 0 01-4.77 1.111 9.82 9.82 0 01-4.76-1.116 8.225 8.225 0 01-3.208-3.044 8.379 8.379 0 01-1.152-4.384V0h2.2v15.783a6.747 6.747 0 00.858 3.414 6.13 6.13 0 002.415 2.356 7.444 7.444 0 003.649.858 7.478 7.478 0 003.655-.858 6.08 6.08 0 002.413-2.353 6.784 6.784 0 00.852-3.414zM100 0v24.069h-2.2V0z"></path></svg>
            </div>
            <div class="">
                <ul>
                    <li>
                        <a>
                            Docs
                        </a>
                    </li>
                </ul>
            </div>
            <div class="">
            
            </div>
        </div>  
    </div>
    <div class="flex pt-11">
        <div class="w-[25%]">
            <div class="z-10 flex mx-auto ">
                <div class="text-white ">
                    <h1 class="mb-5 text-base font-semibold">Documentación</h1>

                    <ul>
                        <li class="text-sm font-medium text-white/90">Layouts</li>
                        <ul class="pt-4 pl-4">
                            <li class="pb-3 text-white/50">- Container</i>
                            <li class="text-white/50">- Grid</i>
                        </ul>
                        <li class="pt-4 text-sm font-medium text-white/90">Components</li>
                    </ul>
                </div>
            
            </div>
        </div>
        {% block content %}
    
        {% endblock %}
    </div>
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
{% endblock %}

