{% set ramdon = random() %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <script src="https://cdn.tailwindcss.com"></script>
        <link href="{{ asset('build/css/app.css?v=' ~ ramdon ) }}" rel="stylesheet" type="text/css">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
        <script src="https://unpkg.co/gsap@3/dist/gsap.min.js"></script>
        <script src="https://assets.codepen.io/16327/Physics2DPlugin3.min.js"></script>

        <script type="text/javascript" src="{{ asset('build/js/app.js?v=' ~ ramdon ) }}"></script>
    
        
    </body>
</html>
