{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
  
{% endblock %}
    {% block body %}
        <div class="lg:ml-72 xl:ml-80">
            {% include 'Layouts/Header.html.twig' %}
            <div class="relative px-4 pt-14 sm:px-6 lg:px-8">
                <main class="py-16">
                    {% block content %}{% endblock %}  
                </main>
                {% include 'Layouts/Footer.html.twig' %}
            </div>
        </div>
    {% endblock %}
{% block javascripts %}
    {{ parent() }}
    
{% endblock %}

