{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
  
{% endblock %}
{% block body %}
    <div class="" id="content">
            <header>
                <nav class="py-4 border-b">
                    <div class="flex items-center px-5">
                        <ul class="flex items-center gap-5 font-Gilroy-Bold">
                            <li class="nav-item">
                                <a class="uppercase nav-link" href="">Wenly</a>
                            </li>
                            
                        </ul>
                        <div class="ml-auto">
                            <div class="relative">
                                <div class="w-full h-full misc-btn"> </div>
                                <button class="h-full px-10 py-4 text-xs text-white uppercase bg-black rounded font-Gilroy-Bold ">
                                    Go  the app
                                </button>
                            </div>
                        </div>
                    </div>
                </nav>
            </header>
            {% block content %}
            
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}

