{% extends 'baseFrontend.html.twig' %}

{% block content %}
    <div class="h-[90vh] flex justify-center items-center bg-tilt">
        <h1 class="text-blue-500 text text-9xl font-Gilroy-Black">Wenly</h1>
    </div>
{% endblock %}